@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Agu+Display&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: "Open Sans", sans-serif ;
}

h1,button{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

img{
    max-width: 100%;
    max-height: 100%;
}

ul{
    list-style-type: none;
}

header{
    background: url(/images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    padding: 40px 60px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 35px;
}

.btn{
    margin-left: 1360px;
    padding: 15px 60px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12);
}

.build-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 20px;
}

.build{
    width: 45%;
}

.illus{
    width: 55%;
}

.build h1{
    font-size: 42px;
    padding-right: 40px;
    margin: 25px 0px;
}

.build p{
    padding-right: 40px;
    margin: 25px 0px;
}

.build button{
    background-color:hsl(322, 100%, 66%) ;
    color: #fff;
    padding: 15px 70px;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 80px 40px;
}

.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 50px 65px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12);
    margin-bottom: 40px;
    border-radius: 10px;
}

.service img{
    max-width: 100%;
    width: 520px;
    padding: 15px 80px 15px 60px;
}

.content{
    padding-left: 70px;
}

.content h2{
    margin: 10px 0px;
}

.content p{
    width: 93%;
}

.left{
    margin-right: 0px;
}

.left p{
    width: 100%;
}

.promo{
    position: relative;
    max-width: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
    padding: 60px 0px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin-bottom: -105px;
}

.promo h1{
    margin-bottom: 15px;
}

.btn2{
    margin-top: 20px;
    padding: 24px 100px;
    border-radius: 40px;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    font-size: 18px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding: 200px 100px 30px;
}

.footer-logo{
    width: 250px;
}

.footer-sec{
    display: flex;
    margin-top: 40px 0px;
}

.sec-1{
    min-width: 40%;
    width: 40%;
}

.add{
    display: flex;
    align-items: flex-start;
}

.add img{
    margin-top: 4px;
    margin-right: 20px;
}

li{
    margin-bottom: 20px;
    padding-right: 60px;
    opacity: 0.9;
}

.sec-2
.sec-3
.sec-4{
    width: 20%;
    margin-left: 30px;
}

.social{
    display: flex;
    padding: 0;
}

a{
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.social li{
    padding: 0px 7px;
}

.copy{
    text-align: right;
}
