* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101820;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title span {
    font-size: 30px;
    color: #2196f3;
}

main {
    padding: 40px;
    display: flex;
    gap: 40px;
}

.left,
.right {
    flex: 1;
}

h1 {
    color: #2196f3;
    font-size: 28px;
    margin-bottom: 20px;
}


.add-task {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.add-task input {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #2196f3;
    outline: none;
    width: 250px;
    background: #1f1f1f;
    color: white;
}

.add-btn {
    padding: 10px 20px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.task-item {
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item span {
    flex: 1;
}

.task-item button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.done-btn {
    background-color: #00c853;
    color: white;
}

.delete-btn {
    background-color: #d50000;
    color: white;
}

.section-title {
    font-size: 28px;
    color: #00e0c6;
    padding: 25px;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .add-task input {
        width: 100%;
    }

    .add-btn {
        width: 100%;
    }

    .left, .right {
        flex: unset;
        width: 100%;
    }

    header {
        flex-direction: column;
        gap: 10px;
        padding: 15px 10px;
    }

    .title span {
        font-size: 24px;
    }

    .section-title {
        padding: 15px;
        font-size: 22px;
    }
}
